<%- include("./layout/Navbar.ejs") %> 

<div class="download-div">
    <div class="landing__content">
        <div class="landing-text">
            <h1>Download</h1>
            <p>Download the latest version of Suda.</p>
            <button class="download-button"><a href="/download"> Download </a></button>
        </div>
       
    </div>
</div>
