<%- include("./layout/Navbar.ejs") %> 

<div class="download-div">
    <div class="landing__content">
        <div class="landing-text">
            <h1>Download</h1>
            <p>Download the latest version of Suda.</p>
            <form action="/download" method="post">
                <button class="download-button" type="submit">Download</button>
            </form>
        </div>
       
    </div>
</div>
