<%- include("./layout/Navbar.ejs") %> 

<!-- Path: views\index.ejs -->

<main>
    <section class="landing">
        <div class="landing__content">
            <h1>Get the best out of your PC</h1>
            <div class="landing-text">
                <p>Get the greatest windows app ever made!</p>
                <button><a href="/download"> Download Now! </a></button>
            </div>
            
        </div>
    </section>
    <section class="testimony">
            <div>
                <h1>Testimony</h1>
                <p class="quote">"Once I installed Suda, my computer has never been faster!"</p>
            </div>

    </section>
</main>