<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Main.css">
    <title> <%= title %>  </title>
</head>
<body>
    <nav class="nav">
        <span>Suda</span>
        <div>
            
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Product</a></li>
           
        </ul>
        </div>
        <div>
            <button><a href="/download"> Download </a></button>
        </div>
    </nav>
</body>
</html>